version: "3.8"

services:
  cac_postgres:
    image: postgres:16-alpine
    container_name: cac_postgres
    ports:
      - 15432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - cac_postgres:/var/lib/postgresql/data

  # cac_mysql:
  #   image: mysql:5.7
  #   container_name: cac_mysql
  #   ports:
  #     - 13306:3306
  #   environment:
  #     MYSQL_ROOT_PASSWORD: password
  #     MYSQL_DATABASE: database
  #   # volumes:
  #   #   - cac_mysql:/var/lib/mysql

  cac_pgadmin:
    image: dpage/pgadmin4
    container_name: cac_pgadmin
    ports:
      - 5050:80
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: password
    volumes:
      - cac_pgadmin:/var/lib/pgadmin
    depends_on:
      - cac_postgres
  
  cac_backend:
    image: cac-24262-backend
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cac_backend
    volumes:
      - ./src:/app
    ports:
      - 5000:8080
    env_file:
      - .env

  # cac_adminer:
  #   image: adminer
  #   container_name: cac_adminer
  #   ports:
  #     - 18080:8080
  #   depends_on:
  #     - cac_mysql

networks:
  default:
    name: cac_sql

volumes:
  cac_postgres:
  cac_pgadmin:
  # cac_mysql:
