body {
    background-color: #222;
    color: #d6d6d6;
}


div {
    width: 250px;
    height: 250px;

    background-color: blueviolet;
    color: white;
    
    /* transform: translateX(50px) translateY(50px); */
    /* transform: translate(50px, 50px); */

    /* transform: translate(150px, 150px) scaleX(1.2) scaleY(1.2); */


    /* transform: rotateX(45deg) rotateY(45deg) rotate(90deg); */

    /* transform: translate3d(50px, 50px, 50px); */


    /* transform: matrix(1,2,3,4,5,6) */


    transform: 
        translate(150px, 150px)
        rotate(60deg)
        scale(1.2);
}


