body {
    background: #222;
    color: white;
}


.flexbox-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
    height: 500px;
    border: 3px solid red;

    
    justify-content: center;
    
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */
    
    gap: 20px;
    align-items: center;
    align-content: center;
}

.flexbox-child {
    background: blue;
    border: 3px solid orange;
    color: white;
    width: 100px;
    height: 100px;
}

.flexbox-child:first-child{
    height: 50px;
}