body{
    background: #222;
    color: white;
}

section {
    background: blue;

    width: 350px;
    height: 500px;

    position: relative;
    border: 2px solid red;
}


.box {
    background-color: green;

    width: 100px;
    height: 100px;

    /* position: static; default */

    /* position: absolute; */
    
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */

    /* inset: 0;
    margin: auto; */

    position: sticky;
    top: 0;
    /* right: 0; */
}

#box1{
    position: fixed;
    background: yellow;

    z-index: 2;
}



